.topbar{
  height:90px;
  background:#000;

  *{
    color:white;
  }

  .topbar-inner{
    display: flex;
    width:90%;
    margin:auto;
    .topbar-logo{
      display:flex;
      font-size:24px;
      font-weight: bold;
      line-height: 1.5;
      .topbar-logo-line{
        width:0px;
        height:100%;
        border-left:2px solid white;
      }
      span{
        display:inline-block;
        vertical-align: middle;
      }
    }

    .topbar-controls{
      display: flex;
      .topbar-controls-request{
        margin:auto 5px auto auto;
        >button{
          background-color: rgb(19, 19, 19);
          border:1px solid white;
        }
      }
      .topbar-controls-signIn{
        margin:auto 0;
        >button{
          background-color:rgb(116, 116, 255);
        }
      }

      .topbar-controls-btn{
        display:inline-block;
        vertical-align: middle;
        border-radius: 4px;
        padding:6px 22px;
        font-size:24px;
        line-height: 1.5;
      }

      .topbar-controls-sm{
        display: flex;
        margin:auto 0;
        font-size:24px;
      }

      .topbar-controls-search{
        margin-left:auto;
        margin-right:5%;
      }
      .topbar-controls-bars{
        margin:auto 0;
      }
    }
  }
}

@media screen and (min-width:1023px) {
  .topbar-inner{
    padding:20px 0;
    .topbar-logo{
      width:30%;
      .topbar-logo-line{
        position:relative;
        top:0px;
        margin:0 3%;
      }
    }
    .topbar-controls{
      width:70%;
    }
  }
}

@media screen and (max-width:1022px) {
  .topbar-inner{
    padding:2.5% 0;
    .topbar-logo{
      width:40%;
      .topbar-logo-line{
        position:relative;
        top:5px;
        margin:0 3%;
      }
    }
    .topbar-controls{
      width:70%;
    }
  }
}

@media screen and (max-width:767px) {
  .topbar-inner{
    padding:24px 0;
    .topbar-logo{
      width:60%;
      .topbar-logo-line{
        position:relative;
        top:5px;
        margin:0 3%;
      }
    }
    .topbar-controls{
      width:40%;
    }
  }
  
}