.footer-container{
  background-color:#000;
  position: relative;
  *{
    color:white;
  }
  .footer-inner{
    position: relative;
    margin:0 auto;
    padding:30px 0;
    .footer-list-wrap{
      display: inline-block;
      vertical-align: top;
      .footer-list{
        .footer-list-item{
          font-size:1em;
          padding:5px 0;
        }
        .footer-list-item-title{
          font-weight: bold;
          font-size:1.5em;
          padding-bottom:15px;
        }
        .footer-list-item-subTitle{
          font-size:1.3em;
          font-weight: bold;
        }
      }
    }
    .footer-list-copyRight{
      position:absolute;
      .footer-list-item{
        font-size:1.1em !important;
      }
    }
  }

  .footer-help-btn-wrap{
    position: absolute;
    bottom:10px;
    right:10px;
    button{
      position: relative;
      width:100px;
      border-radius: 14px;
      background:rgb(67, 122, 242);
      box-sizing: border-box;
      padding:14px 16px;
      cursor: pointer;
      font-size:16px;
      font-weight: bold;
      padding-left:27px;
      text-align: center;
      &:before{
        content: "\003F";
        position:absolute;
        top:14px;
        left:10px;
        border:2px solid white;
        width:15px;
        height:15px;
        font-size:.9em;
        border-radius: 100%;
      }
    }
  }
}

@media screen and (min-width:1024px) {
  .footer-inner{
    width:87%;
    height:350px;
    .row{
      display: flex;
      .col{
        float:left;
        .footer-list-copyRight{
          bottom:13%;
          right:5%;
        }
      }

      .col-xl-9{
        width:calc(100% / 12 * 9);
      }

      .col-xl-3{
        width:calc(100% / 12 * 3);
      }
    }
  }
}

@media screen and (max-width:1024px) {
  .footer-inner{
    width:87%;
    height:350px;
    .row{
      display: flex;
      .col{
        float:left;
        .footer-list-copyRight{
          
          bottom:13%;
          right:5%;
        }
      }

      .col-xl-9{
        width:calc(100% / 12 * 9);
      }

      .col-xl-3{
        width:calc(100% / 12 * 3);
      }
    }
  }
}

@media screen and (max-width:768px) {
  .footer-inner{
    height:550px;
    .row{
      display:block;
      .col{
        .footer-list-copyRight{
          bottom:10%;
          left:0;
        }
      }
      .col-sm-12{
        width:100%;
      }
      .col-sm-6{
        width:50%;
      }
    }
  }
}